<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>
 
<%= link_to 'Back', lists_path %>
<h1>Words</h1>
<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Chinese</th>
  <th>Pinyin</th>
  <th>Translation</th>
  <th></th>
</tr>
<% @list.words.each do |word| %>
<tr>
  <td><%= word.chinese %></td>
  <td><%= word.pinyin %></td>
  <td><%= word.translation %></td>
  <td><%= link_to 'Destroy' ,list_word_path(@list.id,word.id),method: :delete, data: {confirm: 'Are you sure?' } %></td>
</tr>

<% end %>

</table>



<h1>Add a word:</h1>
<%= render "words/form" %>

 
<%= link_to 'Back', lists_path %>
| <%= link_to 'Edit', edit_list_path(@list) %>

