<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>
 
<%= link_to 'Back', lists_path %>
<h1>Words</h1>
<table class="table table-striped table-bordered table-condensed">
<tr>
  <th>Chinese</th>
  <th>Pinyin</th>
  <th>Translation</th>
  <th>Audio</th>
  <th></th>
</tr>


<% sound_count = 1 %>
<% @list.words.each do |word| %>


<tr>
  <td><%= word.chinese %></td>
  <td><%= word.pinyin %></td>
  <td><%= word.translation %></td>
  <td>
    <%= audio_tag "#{word.pinyin}.mp3", class: "audio-play-#{sound_count}" %>
    <p class="btn btn-primary" id=<%= "press_play_#{sound_count}" %>>Play</p>
  </td>
  <td><%= link_to 'Destroy' ,list_word_path(@list.id,word.id),method: :delete, data: {confirm: 'Are you sure?' } %></td>
</tr>
<% sound_count = sound_count + 1 %> 
<% end %>

</table>



<h1>Add a word:</h1>
<%= render "words/form" %>

 
<%= link_to 'Back', lists_path %>
| <%= link_to 'Edit', edit_list_path(@list) %>

